#new-trip-button {
    background-color: white;
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1em;
    padding: 1em 2em;
    border-radius: 8px;
    width: auto;
}

#new-trip-button:hover {
    background-color: rgb(224, 223, 223);
    cursor: pointer;
}